.card-base {
  background-color: white;
  width: 15em;
  min-height: 5em;
  border-radius: 0.5em;
  margin: 0em 0em 1em 0em;
  padding: 0.8em 1em;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
}

.card-footer {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
}

.card-id {
  color: gray;
}
